extends layout

block content
 h1= title

 form(id='flowersForm', action="/resource/flowers", method="POST")
  div.form-group
    label.flowersAttr(for='flower_name') flowers name
    input#flower_name(type='text', name='flower_name')
  div.form-group
    label.flowersAttr(for='flower_color') flowers color
    input#flower_color(type='text', name='flower_color')
  div.form-group
    label.flowersAttr(for='flower_size') flowers size
    input#flower_size(type='number', name='flower_size')
  
  input(type="submit")

 script.
  document.forms['flowersForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Save succeded")
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
   });
  });