extends layout
block content
 h1= title
  - let flowersid = toShow._id
  - let flower_name = toShow.flower_name
  - let flower_color = toShow.flower_color
  - let flower_size = toShow.flower_size
  div.row(class='mb-2')
   div.mr-1 ID is
   div #{flowersid}
  - let actionid = "/resource/flowers/" + flowersid
  form(id='flowersForm', action= actionid, method="PUT")
   div.form-group
     label.flowersAttr(for='flower_name') flowers name 
     input#flower_name(type='text', name='flower_name', value= flower_name )
   div.form-group
     label.flowersAttr(for='flower_color') flowers color
     input#flower_color(type='text', name='flower_color', value= flower_color )
   div.form-group
     label.flowersAttr(for='flower_size') flowers size
     input#flower_size(type='number', name='flower_size', value= flower_size )
   input(type="submit")
  script.
   document.forms['flowersForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
     method: 'PUT',
     body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
     return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
     alert("Update succeded")
     // TODO handle body
    }).catch((error) => {
     // TODO handle error
     alert("Update failed " + error )
    });
   });